{% extends "base.html" %}

{% block title %}The current time{% endblock %}

{% block content %}
     <form class="form-signin" method="post" action="{% url 'login' %}">
       {% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Введите ИНН </label>
        <input type="text" name='username'  class="form-control" placeholder="ИНН" required autofocus>
         <br/>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
{% endblock %}